.message-in{ 
    display: flex;
    flex-direction: column;
    border-radius: 20%;
    background-color: yellow;
    border: 1px solid black;


}

.message-out { 
    display: flex;
    flex-direction: column;
    border-radius: 20%;
    background-color: grey;
    border: 1px solid black;
}
